<html>
    <title>Tsel Authkit</title>
    <body>
        <%= msg %>
    </body>
    <script>

    window.setTimeout(function(){

        // Move to a new location or you can do something else
        window.location.href = "<%= redirect_url%>";

    }, 3000);
    </script>
</html>
